<div>
  <label for="">Hteam</label>
  {{view Ember.Select
  contentBinding="teams"
  valueBinding='hteam'
  optionLabelPath="content.location"
  optionValuePath="content"
  prompt="Please select a name"
  }}
</div>
<div>
  <label for="">Ateam</label>
  {{view Ember.Select
  contentBinding="teams"
  valueBinding='ateam'
  optionLabelPath="content.location"
  optionValuePath="content"
  prompt="Please select a name"
  }}
</div>
<div>
  <label for="">Hteam Score</label>
  {{input value=hteamscore}}
</div>
<div>
  <label for="">Ateam Score</label>
  {{input value=ateamscore}}
</div>
<div>
  <label for="">Date of Game</label>
  {{input value=gameDate}}
</div>
<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
