<div>
  <label for="">Hteam</label>
  {{view Ember.Select
  contentBinding="teamslist"
  valueBinding='hteam'
  optionLabelPath="content.name"
  optionValuePath="content"
  }}
</div>
<div>
  <label for="">Ateam</label>
  {{input value=ateam}}
</div>
<div>
  <label for="">Hteam Score</label>
  {{input value=hteamscore}}
</div>
<div>
  <label for="">Ateam Score</label>
  {{input value=ateamscore}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
