<p>{{link-to 'New game' 'games.new'}}</p>
{{#each}}
  <table>
    <tr>
      <th>id</th>
      <th>Hteam</th>
      <th>Ateam</th>
      <th>Hteam Score</th>
      <th>Ateam Score</th>
    </tr>
    <tr>
      <td>{{link-to id 'games.show' this}}</td>
      <td>{{hteam.location}} {{hteam.name}}</td>
      <td>{{ateam.location}} {{ateam.name}}</td>
      <td>{{hteamscore}}</td>
      <td>{{ateamscore}}</td>
    </tr>
  </table>
{{else}}
  No Games to Show!
{{/each}}

