<p>{{link-to 'New game' 'games.new'}}</p>

<table>
  <tr>
    <th>id</th>
    <th>Hteam</th>
    <th>Ateam</th>
    <th>Hteam Score</th>
    <th>Ateam Score</th>
  </tr>
  {{#each}}
    <tr>
      {{id}}
      <td>{{link-to id 'games.show' this}}</td>
      <td>{{hteam.location}}</td>
      <td>{{ateam.location}}</td>
      <td>{{hteamscore}}</td>
      <td>{{ateamscore}}</td>
    </tr>
  {{else}}
    No Games to Show!
  {{/each}}
</table>
