<div>
  <label for="">Game</label>
  {{view Ember.Select
  contentBinding="games"
  valueBinding='game'
  optionLabelPath="content.id"
  optionValuePath="content"
  prompt="Please select a game"
  }}
</div>
<div>
  <label for="">Player</label>
  {{view Ember.Select
  contentBinding="players"
  valueBinding='player'
  optionLabelPath="content.lastname"
  optionValuePath="content"
  prompt="Please select a player"
  }}
</div>
<div>
  <label for="">Points</label>
  {{input value=points}}
</div>
<div>
  <label for="">Rebounds</label>
  {{input value=rebounds}}
</div>
<div>
  <label for="">Assists</label>
  {{input value=assists}}
</div>
<div>
  <label for="">Steals</label>
  {{input value=steals}}
</div>
<div>
  <label for="">Turnovers</label>
  {{input value=turnovers}}
</div>
<div>
  <label for="">Fouls</label>
  {{input value=fouls}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
