<div>
  <label for="">Player</label>
  {{input value=playerId}}
</div>
<div>
  <label for="">Game</label>
  {{input value=gameId}}
</div>
<div>
  <label for="">Points</label>
  {{input value=points}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
