<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'stat_lines.edit' this}} <button {{action destroyRecord}}>Destroy</button></p>

<ul>
  <li>Player: {{player_id}}</li>
  <li>Game: {{game_id}}</li>
  <li>Points: {{points}}</li>
</ul>
