<div>
  <label for="">Position</label>
  {{input value=position}}
</div>
<div>
  <label for="">Height</label>
  {{input value=height}}
</div>
<div>
  <label for="">Weight</label>
  {{input value=weight}}
</div>
<div>
  <label for="">Firstname</label>
  {{input value=firstname}}
</div>
<div>
  <label for="">Lastname</label>
  {{input value=lastname}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
