<h3>{{firstname}} {{lastname}}</h3>

<p>{{link-to 'Edit' 'players.edit' this}} <button {{action destroyRecord}}>Destroy</button></p>

<ul>
  <li>Position: {{position}}</li>
  <li>Height: {{heightformat}}</li>
  <li>Weight: {{weight}}</li>
</ul>

<table>
    <tr>
      <th>Game</th>
      <th>Points Scored</th>
    </tr>
    {{#each statline in statlines}}
      <tr>
        <td>{{link-to statline.game.id 'games.show' statline.game}}</td>
        <td>{{statline.points}}</td>
      </tr>
    {{else}}
      No Games to Show!
    {{/each}}
  </table>


