<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'players.edit' this}} <button {{action destroyRecord}}>Destroy</button></p>

<ul>
  <li>Team: {{team_id}}</li>
  <li>Position: {{position}}</li>
  <li>Height: {{height}}</li>
  <li>Weight: {{weight}}</li>
  <li>Firstname: {{firstname}}</li>
  <li>Lastname: {{lastname}}</li>
</ul>
