<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'teams.edit' this}} <button {{action destroyRecord}}>Destroy</button></p>
<p>{{link-to 'Add a Player To This Team' 'players.new' this}}</p>


<ul>
  <li>Name: {{name}}</li>
  <li>Location: {{location}}</li>
  {{#each player in players}}
    {{#link-to 'players.show' player}}{{player.firstname}} {{player.lastname}}{{/link-to}}
  {{else}}
    No Players Found!
  {{/each}}
</ul>

{{outlet}}
