<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'teams.edit' this}} <button {{action destroyRecord}}>Destroy</button></p>

<ul>
  <li>Name: {{name}}</li>
  <li>Location: {{location}}</li>
  {{#each player in players}}
    something shoudl happen
  {{else}}
    this shouldnt though
  {{/each}}
  {{players}}
</ul>

