<div class='row'>
  <div class="small-3 large-3 columns">
    <h3> Players </h3>
    <ul>
      {{#each player in players}}
        <li>{{#link-to 'player' player}}{{player.firstname}} {{player.lastname}}{{/link-to}} - {{player.position}}</li>
      {{else}}
        <p>No Players Found!</p>
      {{/each}}
    </ul>
  </div>
  <div class="small-3 large-3 columns">
    <h3> Home Games </h3>
    <ul>
      {{#each homegame in homegames}}
          <li>{{#link-to 'games.show' homegame}}{{homegame.id}}{{/link-to}}</li>
      {{/each}}
    </ul>
    <h3> Away Games </h3>
    <ul>
      {{#each awaygame in awaygames}}
          <li>{{#link-to 'games.show' awaygame}}{{awaygame.id}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="small-6 large-6 columns">
    <h1>{{location}} {{name}}</h1>
    <p>{{link-to 'Edit' 'teams.edit' this}} <button {{action destroyRecord}}>Destroy</button></p>
    <p>{{link-to 'Add a Player To This Team' 'players.new' this}}</p>
    <br><br><br>
    {{outlet}}
  </div>
</div>
